<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Ryan | About Me</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="new-background">
        <section class="about-me">
            <div class="about-me-container">
                <div class="parallax-one">
                    <nav class="about-me-navbar">
                        <ul class="flex about-me-navbar-list">
                            <li><a class='fs-400 black-text' href="/">Home</a></li>
                            <li><a class='fs-400 black-text' href="/work">Work</a></li>
                            <li><a class='fs-400 black-text' href="/skills">My Skills</a></li>
                            <li><a class='fs-400 black-text' href="Contact">Contact</a></li>
                        </ul>
                    </nav>
                    <h2 class="about-me-intro-title fs-775 primary-text center-text"><span class="number-span opacity-span">01 </span>About me</h2>
                </div>
                <div class="about-me-div flex">
                    <p class="fs-400 black-text center-text">Hi there, I'm Eric Ryan. My career in computer science started out by tinkering with discord bots when I was in high school. Building devices that automated features for my friends quickly spiraled out of control to where I am today.</p>
                </div>
            </div>
            <div>
                <div class="parallax-two">
                    <h2 class="what-I-offer-title fs-775 primary-text center-text"><span class="number-span opacity-span">02 </span>What I can offer you</h2>
                </div>
                <div class="what-I-offer-container flex">
                    <div class="what-I-offer-block">
                        <h3 class="fs-600 black-text center-text">Responsive Websites</h3>
                        <p class="what-I-offer-text black-text center-text">Don't believe me? This website is completely responsive, try it out yourself! With my mobile-first design philosophy, watch as people flock to your website to see perfectly built websites that they will show off to their friends and family. Leave an impression at any viewport.</p>
                    </div>
                    <div class="what-I-offer-block">
                        <h3 class="fs-600 black-text center-text">MERN Built APIs</h3>
                        <p class="what-I-offer-text black-text center-text">Built from the ground up to transfer data at a fast pace, transform your data with real-time customer responses and feedback</p>
                    </div>
                    <div class="what-I-offer-block">
                        <h3 class="fs-600 black-text center-text">Gorgeous Layouts</h3>
                        <p class="what-I-offer-text black-text center-text">I will help you find the color scheme for the website that shows off your brand in the way you've always imagined.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="parallax-three">
                    <h2 class="tools-I-work-with-title fs-775 primary-text center-text"><span class="number-span opacity-span">03 </span>What I work with</h2>
                </div>
                <div class="tools-container flex">
                    <div class="tools-lists">
                        <h1 class="black-text center-text fs-600">CSS</h1>
                        <ul class="center-text">
                            <li class="black-text">Responsive CSS</li>
                            <li class="black-text">Smartphone ready layouts</li>
                            <li class="black-text">TailwindCSS</li>
                        </ul>
                    </div>
                    <div class="tools-lists">
                        <h1 class="black-text center-text fs-600">Javascript</h1>
                        <ul class="center-text">
                            <li class="black-text">Front-End JS</li>
                            <li class="black-text">NodeJS</li>
                            <li class="black-text">Express</li>
                            <li class="black-text">React</li>
                            <li class="black-text">MongoDB</li>
                        </ul>
                    </div>
                    <div class="tools-lists">
                        <h1 class="black-text center-text fs-600">RDBMS</h1>
                        <ul class="center-text">
                            <li class="black-text">SQLite3</li>
                            <li class="black-text">MySQL</li>
                            <li class="black-text">Oracle Database XE</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>