<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Ryan | Contact</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <nav class="navbar">
        <ul class="flex navbar-list">
            <li class="white-text"><a class='fs-400' href="/">Home</a></li>
            <li class="white-text"><a class='fs-400' href="/work">Work</a></li>
            <li class="white-text"><a class='fs-400' href="/skills">My Skills</a></li>
            <li class="white-text"><a class='fs-400' href="/about-me">About Me</a></li>
        </ul>
    </nav>
    <h1 class="center-text">This page is under construction</h1>
    <p class="center-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quis, maiores doloribus aliquam repellat harum dolorem delectus deserunt quaerat, illum in blanditiis aut minima asperiores incidunt non consectetur nisi culpa!</p>
    <div class="under-construction">
        <img src="/img/Under-Construction.jpg" alt="Under Construction warning">
    </div>
</body>
</html>