<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design System</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="design-system">
        <h1 class="intro-heading uppercase fs-700">Design system</h1>
        <p class="return-text fs-400"><a href="/">Return to home screen!</a></p>
        <h2 class="section-intro fs-600"><span class="opacity-span">01</span>Colors</h2>
        <div class="container">
            <div class="colors flex">
                <div class="color-desc primary-background flow">
                    <span class="palette black-text uppercase">#E2C044</span>
                    <p class="black-text"><span class="opacity-span">RGB:</span> 226, 192, 68</p>
                    <p class="black-text"><span class="opacity-span">HSL:</span> hsl(47, 73%, 58%)</p>
                </div>
                <div class="color-desc accent-background flow">
                <span class="palette uppercase">#f75394</span>
                    <p><span class="opacity-span">RGB:</span> 247, 83, 148</p>
                    <p><span class="opacity-span">HSL:</span> hsl(336, 91%, 65%)</p>
                </div>
                <div class="color-desc black-background flow">
                    <span class="palette white-text uppercase">#393E41</span>
                    <p class="white-text"><span class="opacity-span">RGB:</span> 57, 62, 65</p>
                    <p class="white-text"><span class="opacity-span">HSL:</span> hsl(202, 7%, 24%)</p>
                </div>
                <div class="color-desc white-background flow">
                    <span class="palette black-text uppercase">#D3D0CB</span>
                    <p class="black-text"><span class="opacity-span">RGB:</span> 211, 208, 203</p>
                    <p class="black-text"><span class="opacity-span">HSL:</span> hsl(38, 8%, 81%)</p>
                </div>
                <div class="color-desc gray-background flow gray-desc">
                    <span class="palette white-text uppercase">#587B7F</span>
                    <p class="white-text"><span class="opacity-span">RGB:</span> 88, 123, 127</p>
                    <p class="white-text"><span class="opacity-span">HSL:</span> hsl(186, 18%, 42%)</p>
                </div>
            </div>
        </div>
        <h2 class="section-intro fs-600"><span class="opacity-span">02</span>Typography</h2>
        <div class="container flex">
            <div class="typography-col">
                <span>Heading 1 - Raleway Regular - 150px</span>
                <h1 class="fs-900">Eric Ryan</h1>
                <span>Heading 2 - Raleway Regular - 100px</span>
                <h2 class="fs-800">Software Engineer</h2>
                <span>Heading 3 - Raleway Regular - 56px</span>
                <h3 class="fs-700">My Portfolio</h3>
                <span>Heading 4 - Raleway Regular - 32px</span>
                <h4 class="fs-600">Hobbies and Interests</h4>
                <span>Heading 5 - Raleway Regular - 28px</span>
                <h5 class="fs-500">So, you want to learn more about me</h5>
            </div>
            <div class="typography-col">
                <span>Subheading 1 - Raleway Regular - 28px</span>
                <p class="fs-500">4,000,000 morbillion dollars</p>
                <span>Subheading 2 - Raleway Regular - 14px</span>
                <p class="fs-400">Javascript</p>
                <span>Body Text</span>
                <p class="fs-200">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam veritatis, officia a, laudantium blanditiis atque et aut at eos quod magni velit expedita nesciunt odit rerum consequuntur ab. Tempora, omnis?</p>
            </div>
        </div>
    </div>
</body>
</html>