<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Ryan | Skills</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <nav class="navbar">
        <ul class="flex navbar-list">
            <li class="white-text"><a class='fs-400' href="/">Home</a></li>
            <li class="white-text"><a class='fs-400' href="/work">Work</a></li>
            <li class="white-text"><a class='fs-400' href="/about-me">About Me</a></li>
            <li class="white-text"><a class='fs-400' href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="contact-container flex">
        <div class="card gradient-background" data-tilt>
            <div class="card-image"><img class="card-img" src="img/Philly.jpg" alt="Philadelphia"></div>
            <div class="card-text gray-text">
                <p class="black-text">Message me on Linkedin!</p>
            </div>
            <div class="card-stats">
                <a href="https://www.linkedin.com/in/eric-ryan-689278a7/" class="black-text">Shout me out!</a>
            </div>
        </div>
        <div class="card gradient-background" data-tilt>
            <div class="card-image"><img class="card-img" src="img/Philly.jpg" alt="Philadelphia"></div>
            <div class="card-text gray-text">
                <p class="black-text">Message me on Linkedin!</p>
            </div>
            <div class="card-stats">
                <a href="https://www.linkedin.com/in/eric-ryan-689278a7/" class="black-text">Shout me out!</a>
            </div>
        </div>
        <div class="card gradient-background" data-tilt>
            <div class="card-image"><img class="card-img" src="img/Philly.jpg" alt="Philadelphia"></div>
            <div class="card-text gray-text">
                <p class="black-text">Message me on Linkedin!</p>
            </div>
            <div class="card-stats">
                <a href="https://www.linkedin.com/in/eric-ryan-689278a7/" class="black-text">Shout me out!</a>
            </div>
        </div>
    </div>


<!-- at the end of the body -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.min.js"></script>
</body>
</html>