<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Ryan | Work</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="black-background">
    <nav>
        <nav class="navbar">
            <ul class="flex navbar-list">
                <li><a class='gray-text fs-400' href="/">Home</a></li>
                <li><a class='gray-text fs-400' href="/skills">My Skills</a></li>
                <li><a class='gray-text fs-400' href="/about-me">About Me</a></li>
                <li><a class='gray-text fs-400' href="/contact">Contact</a></li>
            </ul>
        </nav>
    </nav>
    <main>
        <h1 class="work-intro-title primary-text fs-800 center-text">Want to see what I've done?</h1>
        <div class="project-list flex">
            <div class="container-template primary-background">
                <div class="gray-background secondary-container">
                    <h2 class="text-shadow">Artists Rankings Website - <a class = "black-text link-to-source-code" href="https://github.com/eryan411/Artist-Ranking">Source Code</a></h2>
                    <div class="work-img-div flex">
                        <a href="https://artist-rankings.herokuapp.com">
                            <img src="/img/Artist-Rankings.png" alt="Artists Rankings Website">
                        </a>
                    </div>
                    <p class="text-shadow">This app is hosted on a Heroku Free Dyno Plan, meaning that on the initial load, the server may need to start which can cause a small delay of 15-20 seconds or so. Thank you.</p>
                    <p class="fs-500 text-shadow tools-used-text">
                        <span>Tools used:</span>
                        <span>NodeJS, Express, EJS, TailwindCSS</span>
                    </p>
                    <div class="text-shadow">
                        <h3>Description:</h3>
                        <p>CRUD app allowing the community to add an artist and a genre, vote on the artist, and delete any artists if they so choose</p>
                        <h3>Project Difficulties</h3>
                        <p>Implementing TailwindCSS into a NodeJS system using ejs turned out to be a bit more complex than I intended</p>
                        <h3>My Solution</h3>
                        <p>I was able to search online for a solution and was able to implement Tailwind with no extra issues</p>
                        <h3>Future Improvements</h3>
                        <ul>
                            <li>User Accounts</li>
                            <li>Voting cap per person</li>
                            <li>Interactive profiles per artist including a drop-down with short biography blurb</li>
                            <li>Embedding Spotify into website to allow users to browse music collection</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-template primary-background">
                <div class="gray-background secondary-container">
                    <h2 class="text-shadow">NASA API Spaceship - <a class="black-text link-to-source-code" href="https://github.com/eryan411/NASA-Photo-of-the-Day">Source Code</a></h2>
                    <div class="work-img-div flex">
                        <a href="https://melodic-platypus.netlify.app">
                            <img src="/img/nasa-photo.png" alt="NASA API Spaceship photo">
                        </a>
                    </div>
                    <p class="fs-500 text-shadow tools-used-text">
                        <span>Tools used:</span>
                        <span>NodeJS, NASA API, CSS, HTML</span>
                    </p>
                    <div class="text-shadow">
                        <h3>Description:</h3>
                        <p>Utilizing NASA's photo of the day system, take a trip through space and time on a spaceship to see the universe!</p>
                        <h3>Project Difficulties</h3>
                        <p>While the narrative of the spaceship was able to add a fun element to the project, it was ultimately too bulky to be able to actually show off the photo of the day, and would get in the way when trying to view anything</p>
                        <h3>My Solution</h3>
                        <p>I added a quick button to disable the spaceship, with a narrative choice that the user is "getting out" of it, allowing the photo to be seen and the narrative to still stay upheld</p>
                        <h3>Future Improvements</h3>
                        <ul>
                            <li>Video functionality</li>
                            <li>More information such as name of person who took photo, distance it takes to get from specific star from Earth, etc.</li>
                            <li>Navigation of the ship including more implementation of other NASA APIs</li>
                            <li>Improved User Interaction</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-template primary-background">
                <div class="gray-background secondary-container">
                    <h2 class="text-shadow">Link in Bio Page - <a class="black-text link-to-source-code" href="https://github.com/eryan411/Link-In-Bio-Page">Source Code</a></h2>
                    <div class="work-img-div flex">
                        <a href="https://eric-ryan-biolink.herokuapp.com">
                            <img src="/img/Link-In-Bio.jpg" alt="Link in bio page">
                        </a>
                    </div>
                    <p class="text-shadow">This app is hosted on a Heroku Free Dyno Plan, meaning that on the initial load, the server may need to start which can cause a small delay of 15-20 seconds or so. Thank you.</p>
                    <p class="fs-500 text-shadow tools-used-text">
                        <span>Tools used:</span>
                        <span>NodeJS, VantaJS, CSS, HTML</span>
                    </p>
                    <div class="text-shadow">
                        <h3>Description:</h3>
                        <p>Link in Bio page similar to <a href="https://linktr.ee">linktr.ee</a> that was made to publish socials, main website, and showcase some of my work</p>
                        <h3>Project Difficulties</h3>
                        <p>Being my first foray into <a href="https://www.vantajs.com">VantaJS</a>, I first began to struggle with the responsiveness of the layout making sure that the animation appeared smooth for each viewport size.</p>
                        <h3>My Solution</h3>
                        <p>By swapping the animation to appear on the body instead of just the main and by changing to a cooler color, I was able to fit the entire layout into the screen while making the links legible</p>
                        <h3>Future Improvements</h3>
                        <ul>
                            <li>Contact Information</li>
                            <li>Drop down menus</li>
                            <li>Specific categories</li>
                            <li>Improved User Interaction</li>
                            <li>Message hosting</li>
                            <li>Document downloading for Resume</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>