<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Ryan | Work</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="black-background">
    <nav>
        <nav class="navbar">
            <ul class="flex navbar-list">
                <li><a class='gray-text fs-400' href="/">Home</a></li>
                <li><a class='gray-text fs-400' href="/skills">My Skills</a></li>
                <li><a class='gray-text fs-400' href="/about-me">About Me</a></li>
                <li><a class='gray-text fs-400' href="/contact">Contact</a></li>
            </ul>
        </nav>
    </nav>
    <main>
        <h1 class="work-intro-title primary-text fs-800 center-text">Want to see what I've done?</h1>
        <div class="project-list flex">
            <div class="container-template primary-background">
                <div class="gray-background secondary-container">
                    <h2 class="text-shadow">Link in Bio Page - <a class="black-text link-to-source-code" href="https://github.com/eryan411/Link-In-Bio-Page">Source Code</a></h2>
                    <div class="work-img-div flex">
                        <a href="https://eric-ryan-biolink.herokuapp.com">
                            <img src="/img/Link-In-Bio.jpg" alt="Link in bio page">
                        </a>
                    </div>
                    <p class="fs-500 text-shadow tools-used-text">
                        <span>Tools used:</span>
                        <span>NodeJS, VantaJS, CSS, HTML</span>
                    </p>
                    <p class="text-shadow">This app is hosted on a Heroku Free Dyno Plan, meaning that on the initial load, the server may need to start which can cause a small delay of 15-20 seconds or so. Thank you.</p>
                    <div class="text-shadow">
                        <h3>Project Difficulties</h3>
                        <p>Being my first foray into <a href="https://www.vantajs.com">VantaJS</a>, I first began to struggle with the responsiveness of the layout making sure that the animation appeared smooth for each viewport size.</p>
                        <h3>My Solution</h3>
                        <p>By swapping the animation to appear on the body instead of just the main and by changing to a cooler color, I was able to fit the entire layout into the screen while making the links legible</p>
                        <h3>Future Improvements</h3>
                        <ul>
                            <li>Contact Information</li>
                            <li>Drop down menus</li>
                            <li>Specific categories</li>
                            <li>Improved User Interaction</li>
                            <li>Message hosting</li>
                            <li>Document downloading for Resume</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-template primary-background">
                <div class="gray-background secondary-container">
                    <h2>Hair Salon</h2>
                    <a href="#">
                        <img src="#" alt="Hair Salon Website">
                    </a>
                    <p class="text-shadow">
                        <span>Tools used:</span>
                        <span>HTML, CSS, JS</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="project-list flex">
            <div class="container-template primary-background">
                <div class="gray-background secondary-container">
                    <h2>Hair Salon</h2>
                    <a href="#">
                        <img src="#" alt="Hair Salon Website">
                    </a>
                    <p class="text-shadow">
                        <span>Tools used:</span>
                        <span>HTML, CSS, JS</span>
                    </p>
                </div>
            </div>
            <div class="container-template primary-background">
                <div class="gray-background secondary-container">
                    <h2>Hair Salon</h2>
                    <a href="#">
                        <img src="#" alt="Hair Salon Website">
                    </a>
                    <p></p>
                    <span>Tools used:</span>
                    <span>HTML, CSS, JS</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>